.deleted {
    text-decoration: line-through;
}
.clickable{
    cursor: pointer;
}
.thick-border{
   border-width: 3px;
}
hr {
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  select.form-select{
      border-radius: 6px;
  }