
<div class="container">
    <div class="row my-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Eensymachines<sup>&copy;</sup></h4>
                    <h6 class="card-subtitle mb-2 text-muted">Internet of things startup</h6>
                    <p class="card-text">Eensymachines is a <big class="text-info">home convenience product company</big>. <i class="fas fa-laptop-house"></i> We dish out <big class="text-info">cloud-connected electronic gadgets</big> <i class="fas fa-cloud-upload-alt"></i> that are controllable from anywhere from your handhelds/computers. We aim to make your living uncomplicated by delegating clockwork tasks to gadgets making you free to enjoy finer things in life. <i class="fas fa-umbrella-beach"></i></p>
                    <p>All you need is a computer/handheld connected to internet to talk to your machine at home, miles hemispheres apart, you're in control of your eensy-machine from anywhere</p>
                    We are evolving with you, customizing our products to be more aligned to your preferences. Experience & feedback of patrons is priceless! Feel free to
                    <big><a target="_blank" href="mailto:hello@eensymachines.in" class="card-link">Write to us</a></big>
                    <!-- <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="far fa-lightbulb"></i>&nbsp;Autolumin</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Scheduled automatic illumination for your homes</h6>
                    <p>Autolumin is a <big class="text-info">tiny control device that can follow a set schedule of your home's illumination.</big> Set the schedule and forget it. You are relieved of your duties of keeping a track of time. Autolumin can have <big class="text-info">4 groups of lights that can be controlled independently and parallel.</big> Autolumin uses internet to let you command the device from just about anywhere (there is internet). Want to change your schedule when away from home ? - pick up your mobile, change the schedule and your device can follow.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Terms and conditions</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Please bear in mind</h6>
                    <ol>
                        <li>Hardware is owned by the user, but <big class="text-warning">no part of the gadget is re-sellable / distributable discretely.</big> If found so Eensymachines reserves the right to take legal action then appropriate.</li>
                        <li>Eensymachines only <big class="text-warning">enables transfer of ownership, free of cost.</big> The new owner shall approach Eensymachines with request of transfer of ownership. Post the re-configuration of device the device can be re-assigned to the new owner.</li>
                        <li><big class="text-warning">Replacement /repair of parts is to be done by Eensymachines authorized engineer/sub-contractor.</big> Any attempt to tamper directly would immediately render the warranty void.</li>
                        <li><big class="text-warning">Eensymachines administration can lock devices if incase of misuse or emergency.</big> In the locked state the device has limited/offline functionality.</li>
                        <li><big class="text-warning">Incase of reported abuse</big>, Eensymachines reserves the right of <big class="text-warning">deleting accounts and black listing the devices</big>. Black listed devices are defunct until an administrator from Eensymachines renews them.</li>
                        <li>Warranty does not cover the hardware failure under <a href="">hostile conditions</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>