<div class="container">
    <!-- this view is when the user is on the start node, all the previosuly signed users shall be logged out 
    the app cache in the browser will also be reset -->
    <div class="row my-4">
        <div class="col-lg-8 offset-lg-2">
            <div class="jumbotron">
                <h1 class="display-4 d-none d-lg-block text-primary"><i class="far fa-lightbulb"></i>&nbsp;Autolumin</h1>
                <h1 class="display-6 d-block d-lg-none text-primary"><i class="far fa-lightbulb"></i>&nbsp;Autolumin</h1>
                <p class="lead ">Command your hardware from a web-interface, anytime, anywhere</p>
            </div>
        </div>
    </div>
    <!-- here all what we have is the login screen and the state of the user is logged out -->
    <div class="row" style="margin-top: -5ex;">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4" ng-controller="loginCtrl">
            <acc-details details-hide email-edit lbl-hide>
                <!-- no need for pop confirm since login is instanteneous -->
                <submit-confirm btn-lbl="<i class='bi bi-box-arrow-in-right'></i>&nbsp;Login"></submit-confirm>
            </acc-details>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-3 offset-lg-1 d-none d-lg-inline">
            <div class="card mb-3">
                <div class="card-header">
                    <h4><i class="bi bi-globe"></i>&nbsp;Internet</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary">Access from anywhere</h5>
                    <p class="card-text">Our devices are all cloud enabled. Command your device from anywhere there's
                        internet access.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 offset-lg-1 d-none d-lg-inline">
            <div class="card mb-3">
                <div class="card-header">
                    <h4><i class="bi bi-layout-wtf"></i>&nbsp;No Apps</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary">No installations or updates</h5>
                    <p class="card-text">Save your phone's memory, we just need a browser + internet. Access from any
                        device of your choice.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 offset-lg-1 d-none d-lg-inline">
            <div class="card mb-3">
                <div class="card-header">
                    <h4><i class="bi bi-clock-history"></i>&nbsp;Schedules</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary">Assign clocks on lumination</h5>
                    <p class="card-text">Set your lights to a clock. Autolumin can follow the schedule forever, until
                        ofcourse you change it again</p>
                </div>
            </div>
        </div>
    </div>
    <blockquote class="blockquote text-center text-primary">
        <p class="mb-0">"Watching a swarm of tiny cloud-connected wingman machines take over your daily clockwork, is
            indeed unsullied happiness”</p>
        <br />
        <footer class="blockquote-footer"> Niranjan | <cite title="Source Title">Begetter, Eensy machines</cite>
        </footer>
    </blockquote>
    <!-- footer content  -->
    <br>

    <div class="d-flex justify-content-center text-primary">
        <small>Raspberry Pi is <i class="fas fa-heart"></i></small>
    </div>
    <div class="d-flex justify-content-center text-primary my-1">
        <a class="text-primary" target="_blank" href="https://www.raspberrypi.org/">
            <i class="fab fa-raspberry-pi fa-3x"></i>
        </a> <i class="bi bi-plug-fill"></i>
    </div>
</div>