<div class="container" authorized-only>
    <!-- view lets the logged in user to see the devices registered under the account
    click on the devices to go to schedules 
    a single account can have more than one device under their name -->
    <div class="row my-3">
        <div class="col-lg-8 offset-lg-2">
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Hey!</h4>
                <p class="mb-0">Your device can self-register. If one or more devices are mapped to your account you'd see them below</p>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-lg-8 offset-lg-2" style="overflow: hidden; overflow-y: scroll; max-height: 25em;">
            <device-table>
                <!-- When are no changes you can make the submit button is of no use  -->
                <!-- <submit-confirm submit="submit()"></submit-confirm> -->
           </device-table>
        </div>
    </div>
</div>