<div>
    <h3 
      data-trigger="click" data-placement="top" data-content="{[authInfo.email]}" data-toggle="popover" data-html="true"
      class="text-info email-label">{[authInfo.name]}
    </h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Serial</th>
          <th scope="col">Hardware</th>
          <th scope="col">Model</th>
          <th scope="col">Lock</th>
          <th ng-if="editable==true" scope="col">Blacked</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-active" ng-repeat="ud in devices">
          <!-- clicking on this shall take you to the schedules -->
          <td><a href="#!/{[ud.serial]}/details">{[ud.serial|serialFlt]}</a></td>
          <td >{[ud.hw]}</td>
          <td>{[ud.model|nameFlt:12]}</td>
          <td ng-click="ud.toggle_lock()" class="clickable">
            <h4><strong><i ng-class="{true:'bi-lock text-danger', false:'bi-unlock text-success'}[ud.lock==true]" class="bi"
              ></i></strong></h4>
          </td>
          <td ng-if="editable==true" ng-click="ud.toggle_black()" class="clickable">
            <h4>
              <strong><i ng-class="{true:'bi bi-suit-club-fill text-danger', false:'bi bi-suit-club text-success'}[ud.black==true]" class="bi"
                ></i></strong></td>
            </h4>
        </tr>
      </tbody>
    </table>
    <ng-transclude></ng-transclude>
  </div>