<div>
    <hr>
    <div class="d-flex justify-content-center text-muted">
        <span style="font-size: x-large;">
            <a target="_blank" href="https://github.com/eensymachines-in"><i class="bi bi-github"></i></a>
            <a href="https://twitter.com/EensyMachines" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/eensymachines" target="_blank"><i class="bi bi-facebook"></i></a>
            <a target="_blank" href="mailto:hello@eensymachines.in"><i class="bi bi-envelope"></i></a>
            <a href="https://api.whatsapp.com/send?phone=+918390302622" target="_blank"><i class="bi bi-whatsapp"></i></a>
        </span>
    </div>
    <div class="d-flex justify-content-center text-muted">
        <small>We are utterly social, waiting to hear from you..</small>
    </div>
    <hr>
    <div class="d-flex justify-content-center text-muted" >
        <p>Eensy machines&copy; 2021</p>
    </div>
    <div style="margin-top: -2ex;" class="d-flex justify-content-center text-muted" >
        <small>Pune 411057, India</small>
    </div>
</div>