<div class="form-group">
    <h4>{[title]}</h4>
    <p class="text-muted">{[desc]}</p>
    <select style="width: 35%;" class="form-select" id="hrSelect" ng-model="hrSelect.val" ng-options="opt for opt in hrSelect.opts" >
    </select>
    <select style="width: 35%;" class="form-select" id="minSelect" ng-model="minSelect.val" ng-options="opt for opt in minSelect.opts">
    </select>
    <select style="width: 25%;" class="form-select" id="ampm" ng-model="ampmSelect.val" ng-options="opt for opt in ampmSelect.opts">
    </select> 
</div>